Projects/iOS/XcodeBuiltAssets
*.xcuserstate
*.xccheckout
*.xcbkptlist
*.xcsettings
Projects/Windows/csobj/
Projects/Windows/bin/
Projects/Windows/obj/
*.opensdf
*.sdf
*.suo
*.user
Projects/Windows/csbin/
